*{
  margin: 0;
  padding: 0;
}

.evento img{
  width: 500px;
  border-radius: 20px;
}

.galeria img{
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.galeria{
  display: flex;
  flex-wrap: wrap;
  object-fit: cover;
  justify-content: center;
  gap: 10px;
}

.evento{
  display: flex;
  justify-content: space-around;
  padding: 30px;
  align-items: center;
}

header{
  background-color: rgba(187, 199, 204, 0.897);
  padding: 20px 80px;
}

header img{
  width: 120px;
}

footer{
  background-color: black;
  color: aliceblue;
  padding: 20px 80px;
}

@media screen and (max-width:600px){

  header{
    display: flex;
    justify-content: center;
  }

  .evento{
    flex-direction: column;

  }
  .evento img{
    width: 400px;
    padding: 10px;
    }
    .galeria img{
      width: 70vw;
      height: 300px;
      object-fit: cover;
  }
  .galeria{
    padding: 20px;
    flex-direction: column;
    align-items: center;
  }
}